Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com,chacha20-poly1305@openssh.com
ServerAliveInterval 10
ServerAliveCountMax 3
ExitOnForwardFailure yes
StrictHostKeyChecking no

Host autossh
        User cl01
        Hostname 127.0.0.1
        #ProxyCommand /usr/local/bin/wstunnel --upgradeCredentials=<USER:PASSWORD> --websocketPingFrequencySec=30 -L stdio:127.0.0.1:22 <WSS-URL>
        ProxyCommand /usr/local/bin/wstunnel client --http-upgrade-credentials <USER:PASSWORD> --websocket-ping-frequency-sec 30 -L stdio://127.0.0.1:22 <WSS-URL>
        #################################################################
        # #RF-<port>: <variable>=<value>;<variable>=<value>
        #    supported variables:
        #       port ... special local port on support-client
        #       host ... special hostname on support-client 
        #       type ... define special services (autossh|watchdog)
        #       desc ... site-description
        #       info ... info output for support-client (command,url,..)
	#       polling ... polling time in seconds for type="watchdog"
        #################################################################
        #LF-6666: type="watchdog" ; polling="5"  # every 5 seconds
        LocalForward 6666 127.0.0.1:6666

        #always request ssh back to myself on base of my id
        #RF-13000: type="autossh" ; desc="autossh-callback to callhome-client"
        RemoteForward 13000 127.0.0.1:22

        #RF-13080: port="8080" ; host="librespeed.local" ; desc="Speedtest container" ; info="https://$host:$port"
        #RemoteForward 13080 192.168.1.139:80

        #RF-13095: desc="ubuntu1,vnc,vncuser,vncpasswd,Ubuntu VNC Server"
        #RemoteForward 13059 192.168.1.139:5901
